<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.optisol.kotlinemap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.example.optisol.kotlinemap.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.optisol.kotlinemap.MainHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.optisol.kotlinemap.ui.polyline.PolylineActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <service
            android:name="com.example.optisol.kotlinemap.ui.geomap.GeofenceTransitionsIntentService"
            android:allowBackup="true" />

        <activity android:name="com.example.optisol.kotlinemap.ui.geomap.GeoActivity" />
        <activity android:name="com.example.optisol.kotlinemap.ui.one.CurrentLocationActivity" />
        <activity android:name="com.example.optisol.kotlinemap.ui.two.CustomMarkerActivity" />
        <activity android:name="com.example.optisol.kotlinemap.ui.tthree.GeofenceActivity" />
        <activity android:name="com.example.optisol.kotlinemap.ui.four.PolylineActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAx54Co68Kw_s_6UJd9D_epZuv8aFRG7c4" />
        <!--            android:value="AIzaSyAA4JlITw4f20v_0s5oZ6eMHO41KNqepw0" />-->
    </application>


</manifest>