<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.optisol.kotlinemap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.optisol.optigeofencingandroid.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.NewPolylineActivity"></activity>
        <activity
            android:name=".ui.directions.DirectionActivity"
            android:exported="true" />
        <activity android:name=".ui.distancecalculate.DistanceCalculationActivity" />
        <activity android:name=".MainHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.polyline.PolylineActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".ui.geomap.GeofenceTransitionsIntentService"
            android:allowBackup="true" />

        <activity android:name=".ui.geomap.GeoActivity" />
        <activity android:name=".ui.currentlocation.CurrentLocationActivity" />
        <activity android:name=".ui.custommarker.CustomMarkerActivity" />
        <activity android:name=".ui.geofence.GeofenceActivity" />
        <activity android:name=".ui.four.PolylineActivity" />
        <activity android:name="com.optisol.optigeofencingandroid.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAx54Co68Kw_s_6UJd9D_epZuv8aFRG7c4" />
    </application>

</manifest>